body {
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'B612', sans-serif;
}

#content {
  text-align: center;
  margin: auto;
  margin-top: 65px;
  width: 90%;
  border-bottom: 2px solid black;
}

div {
    text-align: center;
}

/* https://www.w3schools.com/howto/howto_js_navbar_sticky.asp */
.navbar {
  overflow: hidden;
  background-color: black;
  /*Make the navbar sticky*/
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
}

.navbar a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

.navbar a:hover {
    color: greenyellow;
}

#funfact-table, #funfact-message {
  margin-top: 20px;
}

#xkcd-pointers {
    border-radius: 0%;
}

img {
    border-radius: 5%;
    margin: 5px;
}

.boxed-div {
    border-top: 2px solid black;
    padding: 25px 50px 25px;
    margin: 10px 5px;
}

#comment-table {
    width:50%;
    margin: auto;
}

.comment-table-entry {
    padding: 30px;
    width: 400px;
    border: 2px solid gainsboro;
    /*border-radius: 5%;*/
}

.boxed-div-colorful {
    color: darkblue;
    padding: 25px 50px 25px;
    margin: 10px 5px;
}

a {
    color: darkblue;
}

button, input {
    font-size: 100%;
    background-color: white;
    border-radius: 15%;
    padding: 10px;
    color: black;
    border: 2px solid gainsboro;
    margin-left: 10px;
    margin-right: 10px;
}

button:hover, input:hover {
    border: 2px solid darkblue;
}

#num-comments {
    width: 40px;
}

#comments-container {
    margin: 10px;
    margin-top: 0px;
}

.form-div {
    border: 2px solid gainsboro;
    border-radius: 1%;
    padding: 10px;
    margin:auto;
    margin-bottom: 10px;
    width: 40%;
    display: inline-block;
    height: 300px;
    overflow: hidden;
}

.forms-wrapper {
    height: 100%;
    margin: auto;
    margin-top: 15px;
    width: 80%;
    /*Initially hide the forms for posting comments and changing the number of comments,
    since it occupies a lot of space.*/
    display: none;
}

/*Styling a comment when displayed on the STEP Internship page*/
.commenter-name {
    background-color: darkblue;
    padding: 10px;
    color: white;
    margin-left: 10px;
    margin-right: 40px;
    float: left;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    display: flex;

}

.commenter-message {
    text-align: left;
    vertical-align: middle;
    justify-content: left;
    align-items: left;
    display: flex;
}